# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
.vscode

# Env files
.env
.env.*
!.env.example

# Run production with PM2
# contains .env vars
ecosystem.config.cjs

# Local files
testing-partial-object-stream.vue
app/test-app.vue
app/pages/test
# nuxt.config.ts
